# Exclude node_modules
server/node_modules/
client/node_modules/

# Exclude environment variables
server/.env
client/.env

# Exclude build files (dacă adaugi frontend mai târziu)
client/dist/

# System files
.DS_Store

#
server/src/haos-barbershop-firebase-adminsdk-fbsvc-89007e0901.json

#

